layout virtualenv ~/.espressif/python_env/idf3.3.4_py3.9_env
export IDF_TOOLS_PATH=~/.espressif/tools/xtensa-esp32-elf/1.22.0-96-g2852398-5.2.0/xtensa-esp32-elf/bin
export IDF_PATH=~/esp/esp-idf-v3.3.4
export PATH=$IDF_TOOLS_PATH:$PATH
