[submodule "components/ESPAsyncWebServer-master"]
	path = components/ESPAsyncWebServer-master
	url = https://github.com/me-no-dev/ESPAsyncWebServer.git
[submodule "components/AsyncTCP"]
	path = components/AsyncTCP
	url = https://github.com/me-no-dev/AsyncTCP.git
[submodule "components/esp32-homekit"]
	path = components/esp32-homekit
	url = https://github.com/willson556/esp32-homekit.git
