[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/Soulmate"]
	path = components/Soulmate
	url = git@github.com:Soulmate-Lights/soulmate-core.git
[submodule "components/ESPAsyncWebServer-master"]
	path = components/ESPAsyncWebServer-master
	url = https://github.com/me-no-dev/ESPAsyncWebServer.git
[submodule "components/AsyncTCP"]
	path = components/AsyncTCP
	url = https://github.com/me-no-dev/AsyncTCP.git
[submodule "components/Tasker"]
	path = components/Tasker
	url = https://github.com/sticilface/Tasker.git
[submodule "components/ArduinoJson"]
	path = components/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
    branch = 5.x	
[submodule "example"]
	path = example
	url = git@github.com:Soulmate-Lights/soulmate-example.git
[submodule "components/esp-nimble-component"]
	path = components/esp-nimble-component
	url = https://github.com/h2zero/esp-nimble-component.git
	branch = idf-v3.2
[submodule "components/esp-nimble-cpp"]
	path = components/esp-nimble-cpp
	url = https://github.com/h2zero/esp-nimble-cpp.git
[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "components/FastLED"]
	path = components/FastLED
	url = git@github.com:samguyer/FastLED.git
